@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  background-color: #22223B; 
  color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  /* background: linear-gradient(#22223B,#00135d); */
}
body {
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: scroll;
}

/* -------------------------------Navbar----------------------- */
.navbar {
  position: sticky !important;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 10vh
}
.navbar .left{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar img {
  object-fit: cover;
  width: 60%;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding-bottom: 0.5rem;
}
.item-list a:hover {
  border-bottom: 2px solid aqua !important;
  color: aqua;
}

.item-list {
  width: 30%;
  justify-content: space-around;
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 500;
}
.left .nav_title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: -1rem;
  height: 50px;
  padding-top: 5%;
  display: inline-block;
}
.right {
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .navbar .left{
    width: 30%;
    justify-content: center;
    gap: 15px;
    margin-left: 5%;
  }
  .left .nav_title{
    padding-top: 10%;
  }
}
@media (max-width: 1024px) {
  .item-list {
    width: 40%;
  }
}
.active{
  color: aqua !important;
  border-bottom: 2px solid aqua;
}
/* ---------------------------Hero section-------------------- */
#intro {
  height: 88vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  overflow: hidden;
  position: relative;
}
.introContent {
  width: 40%;
  margin-left: -10%;
  font-size: 1.75rem;
  font-weight: 700;
}
.hello{
  font-size: 1.5rem;
  font-weight: 100;

}
.introName{
  color: aqua;
}
.introPara{
  font-size: medium;
  font-weight: 300;
}
#intro .profile-img img {
  width: 350px;
  border-radius: 50%;
  border: 3px solid yellow;
  object-fit: cover;
  box-shadow: 8px 10px 10px #00135d ;
  animation: home-animation 3s infinite;
}
@keyframes home-animation{
  0%{
     border-color: blue;
     transform: translate(0,0px);
     box-shadow: 10px 10px 100px 50px blue;
  }
  25%{
    border-color: rgb(239,244,11);
    box-shadow: 10px 10px 100px 50px rgb(239,244,11);
  }
  50%{
    border-color: rgb(12,12,199);
    transform: translate(0,10px);
    box-shadow: 10px 10px 100px 50px rgb(12,12,199);
  }
  75%{
    border-color: rgb(130,217,160) ;
    box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);
  }
  100%{
    border-color: rgb(50,55,205);
    transform: translate(0, -0px);
    box-shadow: 10px 10px 100px 50px rgb(50, 55, 205) ;
  }
}
.btn{
  margin : 1rem 0;
  padding : 0.75rem 2rem;
  border: none;
  background: linear-gradient(135deg, aqua, #38bdf8);
  border-radius: 50%;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.btn i{
  color: black;
  padding-right: 10px;
  background-color: aqua;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
}
@media screen and (max-width:765px){
   .introContent{
    padding-left : 0.75rem;
    
   }
   #intro{
    display: flex;
    flex-direction: column;
    height : auto;
    width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 25%;
   } 
   .introContent{
    width: 100%;
    margin: 10px auto;
    }
    .role{
      font-size: 18px;
    }
}

/* -------------------Skills section------------------ */
.skills-section{
   padding-top : 2rem
}
.heading{
  text-align: center;
  font-size: 3rem;
  font-weight:700;
  padding: 10px 20px;
}
.skills{
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
  padding: 0 5rem;
  justify-content: center;
}
.skill-data{
  width: 140px;
  height: 140px;
  border-radius: 20px;
  border: 2px solid aqua;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.3s;

}
.subheading{
  text-align: center;
  margin-top: 10px;
  font-size: medium;
  font-weight: 100;
}
.skill-data img{
  width: 70px;
  height: 70px;
  object-fit: contain; 
  margin-bottom: 10px;
  border: none;
}
.skill-data:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 0 20px aqua;
}

@media only screen and (max-width:460px){
  .skill-data{
    width: 45%;  
    margin: 1rem 0;
  }
  .subheading{
    margin: 0px 20px;
    font-size: 1rem;
  }
  .skills{
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
    margin: 0;
  }
  .heading{
    font-size: 2rem;
  }
} 
/* ------------------------------- project section------------------------ */
.desc{
  font-size: medium;
  font-weight: 100;
  margin : 20px;
  text-align: center;
}
.projects{
  margin : 2rem;
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project{
  width: 15rem;
  height: 20rem;
  background-color: #0b1129;
  border : none;
  border-radius: 15px;
  margin: 20px;
  padding: auto;
  box-shadow: 0px 10px 10px #283b86 ;
  border: 2px solid aqua;
}
.project:hover, .left-section img:hover{
  cursor: pointer;
  box-shadow: 0 0 20px aqua;
}
.project img{
  height: 8rem;
  object-fit: cover;
  width: 88%;
  border-radius: 15px;
  margin: 13px;
  background-color: #0b1129;
}
.project p{
  background-color: #0b1129;
  font-weight: 300;
  font-size: small;
  margin: 10px;
}
.project a{
  font-size: small;
  width: 7rem;
  margin-left: 27%;
  padding: 5px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
.project a:hover{
  color:yellow;
  cursor: pointer;
}
.project-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  color: white;
}
.project-data{
  display: flex;
  border: 1px solid aqua;
  border-radius: 10px;
}
.project-title{
  color: aqua;
}
.left-section{
  height: 80vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.left-section img {
  width: 90%;
  height: 45%;
  border-radius: 20px;
  margin-left: 20px;
  filter: drop-shadow(5px 2px 5px black);
}

.right-section {
  width: 60%;
  height: max-content;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
.project-details h1{
  color: aqua;
  margin-left: 20px;
  font-weight: 700;
  text-shadow: 4px 8px 4px black;
}
.right-section p{
  padding-right: 4rem;
  line-height: 25px;
}
.right-section ul li{
  list-style: square;
}
li::marker{
  color: #00ffff;
}
.project-heading{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.project-heading svg{
  cursor: pointer;
}
.right-section a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: aqua;
  color: black;
  border-radius: 18px;
  width: max-content;
  margin: 10px 0;
  text-decoration: none;
}
@media only screen and (max-width:768px) {
  .project-details{
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin-top: 20px;
    padding: 0;
  }
  .project-heading{
    padding-right: 10px;
  }
  .project-data{
    flex-direction: column;
    border: 0;
  }
  .left-section{
    height: max-content;
    width: 100%;
    gap: 20px;
  }
  .right-section{
    width: 100%;
    padding: 5px;
  }
}
/* ----------------------------------------contact page------------------------------------ */
.contact{
  min-height: (100vh - 3rem);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.contact-form{
  margin: 1rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
  height: auto;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.1);
  border-radius: 25px;
}
.contact-form input, textarea{
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #1e293b;
  color: white;
  outline: none;
  transition: 0.3s;
}
.contact-form input:focus, textarea:focus {
  border-color: aqua;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}
.links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}

.links img {
  width: 40px;
  height: 40px;
  padding: 6px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.3s;
}
.links img:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 0 10px aqua;
}
.name, .email, .message{
  font-size: medium;
  width : 70%;
  max-width: 40rem;
  margin : 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #0b1129;
}
.submitBtn{
  padding: 10px 40px;
  color: black;
  border: none;
  border-radius: 0.5rem;
  background-color: aqua ;
  margin-bottom: 20px;
}
.submitBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
}

@media  screen and (max-width:850px) {
  .name, .email, .message{
    width: 90%;;
  }
}
@media screen and (max-width: 350px){
  .contact-form{
    height: 80vh;
  }
  .links img{
    margin : 15px;
  }
}
/* -----------------footer section ------------ */
.footer{
  width : 100vw;
  height: 4rem;
  background-color: #0b1129;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: 200;
}

